@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif !important;}

.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: white;
    transition: 0.5;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

header .logo{
    color: black;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5;
}

header .logo span{
    color: blue;
}

header ul{
    display: flex;
    gap: 40px;
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    color: black;
}

header ul li a ion-icon{
    position: sticky;
    top: 20px;
    font-size: 1em;
    color: black;
}

.content{
    position: relative;
    max-width: 700px;
    z-index: 10;

}

.content h3{
    font-size: 2em;
    color: black;
    font-weight: 200;
    transform: 0.5;
}

.content h2{
    font-size: 4.3em;
    color: black;
    font-weight: 700;
    transform: 0.5;
}


.content h2 span{
    color: blue;
}

.content p{
    font-size: 1.6em;
    color: navy;
    margin: 10px 0;
    transition: 0.5;
}

.content button{
    position: relative;
    background: rgb(68, 0, 255);
    color: white;
    border: none;
    outline: none;
    padding: 15px 35px;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    margin-right: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.content button.chat{
    background: transparent;
    color: #333;
}

.social {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
}

.social li {
    list-style: none;
}

.social li a {
    text-decoration: none;
    font-size: 1.75em;
    color: black;
}

.social li.youtube a:hover {
    color: red;
}

.social li.linkedin a:hover {
    color: #0a66c2;
}

.social li a:hover {
    color: #333;
}
