@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif !important;}

html {
    scroll-behavior: smooth;
}

.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: white;
    transition: 0.5s;
}

.banner.night{
    background: #111111;
}

nav{
    background: #114084;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

nav .logo{
    color: #4190ff;
    font-size: 2em;
    font-weight: 800;
    text-decoration: none;
    transition: 0.5s;
}

nav .logo span{
    color: white;
}

nav ul{
    display: flex;
    gap: 40px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3em;
    color: white;
}

.content{
    position: relative;
    max-width: 700px;
    z-index: 10;
}

.content h3{
    font-size: 2em;
    color: black;
    font-weight: 200;
    transform: 0.5s;
}

.content h2{
    font-size: 4.3em;
    color: black;
    font-weight: 700;
    transform: 0.5s;
}


.content h2 span{
    color: #114084;
}

.content p{
    font-size: 1.6em;
    color: #114084;
    margin: 10px 0;
    transition: 0.5s;
}

.content button{
    position: relative;
    background: #114084;
    color: white;
    border: none;
    outline: none;
    padding: 15px 35px;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    margin-right: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.content button:hover{
    background: black;
}
.content button.chat{
    background: transparent;
    color: #333;
}

.content button.chat:hover{
    background: black;
    color: white;
}

.social {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
    justify-content: end;
}

.social li {
    list-style: none;
}

.social li a {
    text-decoration: none;
    font-size: 1.75em;
    color: black;
}

.social li.youtube a:hover {
    color: red;
}

.social li.linkedin a:hover {
    color: #0a66c2;
}

.social li a:hover {
    color: #333;
}

.dayNight{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
}

.darkMode{
    color: black;
    position: absolute;
    bottom :1.5em;
    right: 28%;
    display: flex;
    gap: 10px;
    justify-content: start;
    font-size: 1.7em;
    transition: 0.5s;
}

.darkMode a ion-icon{
    position: absolute;
    bottom: 0.001px;
    right: 105%;
}

.banner .dayNight{
    background-color: #cccccc;
    color: black;
}

.banner .dayNight:hover{
    background-color: #222222;
    color: white;
}

.banner.night .darkMode{
    color: white;
    position: absolute;
    text-align: start;
    bottom :1.5em;
    right: 28%;
    display: flex;
    gap: 10px;
    justify-content: start;
    font-size: 1.7em;
}


.banner.night .darkMode a ion-icon{
    position: absolute;
    bottom: 0.001px;
    right: 101%;
}

.darkMode a:nth-child(2), .banner.night .darkMode a:nth-child(1){
    display: none;
}

.banner.night .darkMode a:nth-child(2){
    display: block;
}

.banner.night .dayNight{
    background-color: #222222;
    color: white;
}

.banner.night .dayNight:hover{
    background-color: #cccccc;
    color: black;
}

.dayNight ion-icon:nth-child(2),.banner.night .dayNight ion-icon:nth-child(1){
    display: none;
}

.banner.night .dayNight ion-icon:nth-child(2){
    display: block;
}

.banner.night header ul li a,
.banner.night header ul li a ion-icon,
.banner.night .content h2,
.banner.night .content h3,
.banner.night .content button.chat,
.banner.night .social li a{
    color: white;
} 

.banner.night .content h2 span, .banner.night .content p{
    color: #4190ff;
}

.banner.night .content button.chat:hover, .banner.night .content button:hover{
    background: white;
    color: black;
}

#top,#middle,#bottom{
    height: 600px;
    background: green; 
}